<mat-form-field>
  <mat-label>Vessel</mat-label>
  <mat-select [(value)]="selectedEmission" (selectionChange)="onSelectEmission()">
    <mat-option [value]="option" *ngFor="let option of emissions">{{ option.name }}</mat-option>
  </mat-select>
</mat-form-field>

<highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  [(update)]="updateFlag"
  
></highcharts-chart>

<div class="options-footer">
  <mat-checkbox (change)="onCheckLogarithmic($event)">
    Logarithmic scale
  </mat-checkbox>
  
  <button mat-raised-button color="primary" (click)="onClickRandomizeColors()">Randomize Colors</button>
</div>
